<!--page info-->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <!--navbar-->
    <nav>
      <div>
        <a href="/userHome">Home</a>
        <a href="/publicLists">Lists</a>
      </div>
    </nav>
    <!--change password-->
    <div id="mainbody"></div>
    <div class="box">
      <h2>Update Password</h2>
      <form id="passwordForm" (submit)="submitForm($event)">
        <label>Current Password:</label>
        <input type="password" id="current" required maxlength="20">
        <label>New Password:</label>
        <input type="password" id="new" required maxlength="20">
        <button (click)="update()">Update</button>
      </form>
    </div>
  </body>
</html>