/*navbar*/
nav {
  background-color: #e0dddd;
  padding: 15px;
  }
nav a {
  color: black;
  background-color: #c3c2c2;
  transition: background-color 0.3s;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
}
nav a:hover {
  background-color: white;
}
#login{
  float: right;
  margin-top: -10px;
}
/*sign-Up*/
.box {
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: #e0dddd;
  margin: 200px auto;
}
.box input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}
.box button {
  background-color: #c3c2c2;
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.box button:hover {
  background-color: white;
}
#linkpaste{
  text-align: center;
}
