<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!--Navbar-->
<nav>
    <div>
      <a href="/userHome">Home</a>
      <a href="/publicLists">Lists</a>
      <a href="/signUp" id="signup">SignUp</a>
      <a href="/login" id="login">Login</a>
      <a href="/updatePassword" id="update">Update Password</a>
    </div>
  </nav>
  <!--Body-->
<body>
    <div id="mainbody"></div>
    <header>
        <h1>MySuperheroServerInc Acceptable Use Policy</h1>
    </header>
    <section>
        <h2>Effective Date: 2023-11-26</h2>
        <h3>Overview:</h3>
        <p>This Acceptable Use Policy outlines acceptable/unacceptable behavior while using MySuperheroServerInc's services.</p>
        <h3>Prohibited Activities:</h3>
        <p>Users are prohibited from hacking, exploitation, abuse, and fraud.</p>
        <h3>Content Restrictions:</h3>
        <p>Users must not upload content that is illegal, harmful, or is copyrighted.</p>
        <h3>Security Responsibilities:</h3>
        <p>Users are responsible for maintaining the security of their accounts and passwords.</p>
        <h3>Consequences of Violation:</h3>
        <p>Violation of this policy may result in suspension of account.</p>
        <h3>Reporting Violations:</h3>
        <p>Users are encouraged to report any violations of this policy to mysuperheroserver&#64;gmail.com.</p>
        <footer>
            <p>For any queries please reach out to mysuperheroserver&#64;gmail.com</p>
        </footer>
    </section>
</body>
</html>
