<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!--Navbar-->
<nav>
    <div>
      <a href="/userHome">Home</a>
      <a href="/publicLists">Lists</a>
      <a href="/signUp" id="signup">SignUp</a>
      <a href="/login" id="login">Login</a>
      <a href="/updatePassword" id="update">Update Password</a>
    </div>
  </nav>
<!--Body-->
<body>
    <div id="mainbody"></div>
    <header>
        <h1>MySuperheroServerInc Security and Privacy Policy</h1>
    </header>
    <section>
        <h2>Effective Date: 2023-11-26</h2>
        <h3>Introduction:</h3>
        <p>MySuperheroServerInc is committed to protecting the security and privacy of your personal information. This policy outlines how we collect, use, and safeguard your data.</p>
        <h3>Information We Collect:</h3>
        <p>We collect information you provide to us, such as email and password. We may also automatically collect certain information through the use of cookies.</p>
        <h3>How We Use Your Information:</h3>
        <p>We use the collected information for the purposes of improving user experience as well as site improvement.</p>
        <h3>Security Measures:</h3>
        <p>We implement reasonable security measures to protect your information from unauthorized users.</p>
        <h3>Third-Party Disclosure:</h3>
        <p>We do not sell, trade, or transfer your information to third parties.</p>
        <h3>Your Choices:</h3>
        <p>You can edit your private information at any time as well as opt out of unwanted data collection.</p>
        <h3>Changes to This Policy:</h3>
        <p>This policy may be updated in the future. You will be notified of any changes on our website.</p>
        <footer>
            <p>For any queries please reach out to mysuperheroserver&#64;gmail.com</p>
        </footer>
    </section>
</body>
</html>
