<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!--Navbar-->
<nav>
    <div>
      <a href="/userHome">Home</a>
      <a href="/publicLists">Lists</a>
      <a href="/signUp" id="signup">SignUp</a>
      <a href="/login" id="login">Login</a>
      <a href="/updatePassword" id="update">Update Password</a>
    </div>
  </nav>
<!--Body-->
<body>
    <div id="mainbody"></div>
    <header>
        <h1>MySuperheroServerInc DMCA Notice & Takedown Policy</h1>
    </header>
    <section>
        <h2>Effective Date: 2023-11-26</h2>
        <h3>Reporting Copyright Infringement:</h3>
        <p>If you believe content within our website infringes on your copyright, please send a written notice to our contact information located below.</p>
        <h3>Content Removal Procedure:</h3>
        <p>Upon receiving a valid DMCA notice, we will disable access to the content.</p>
        <h3>Counter Notification:</h3>
        <p>Users who believe their content was wrongly removed may submit a counter notice to our contact information located below.</p>
        <h3>Repeat Infringers:</h3>
        <p>Users repeatedly infringing on copyrights may have their accounts removed.</p>
        <footer>
            <p>Please direct emails to mysuperheroserver&#64;gmail.com for DCMA-related inquiries</p>
        </footer>
    </section>
</body>
</html>
